body {
	background-color: #3c3836;
	font-family: sans-serif;
	padding: 8px;
}

h2 {
	border-left-style: solid;
	border-color: #d79921;
	padding-left: 4px;
	border-left-width: 6px;
	border-radius: 5px;
}

a {
	color: #d79921;
}

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index:1;
	top: 0;
	left: 0;
	background-color: #282828;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #a89984;
	display: block;
}

.sidenav a:hover {
	color: #d79921;
}

.main {
	background-color: #3c3836;
	color: #ebdbb2;
	margin-left: 200px;
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
